/* Basic Elements */

body
{
	text-align: center;
	font-family:'Open Sans', sans-serif;
}

h1 
{	
	font-weight: normal;
	font-size: 112px;
	font-family:'Roboto Serif', serif;
	margin-bottom: 16px;
}

@media only screen and (max-width: 600px){
	h1{
		font-size: 64px;
	}
}

h2
{
	font-weight: bold;
	font-size: xx-large;
	font-family:'Roboto Serif', serif;
	margin: 50px 0px 30px;
	padding-top: 50px;
}

p
{
	max-width: 500px;
	text-align: center;
	padding: 0px 32px 0px 32px;
	font-family: 'Albert Sans', sans-serif;
	font-size: 22px;
}


/* Card stuff */

.card
{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #000000;
	border-radius: 4px;
	box-shadow: 6px 6px 0px rgb(45, 45, 45);
}

.card::after {
    content: "";
    display: table;
    clear: both;
}

.cardCover{
	max-height: 370px;
	max-width: 100%;
	border-bottom: 2px solid black;
}  

.cardHeader
{
	text-align: left;
	font-weight: bold;
	font-size: 28px;
	font-family:'Roboto Serif', serif;
	margin: 0px 32px 16px;
	padding-top: 24px;
}

.cardText
{
	max-width: 500px;
	text-align: left;
	font-family: 'Albert Sans', sans-serif;
	font-size: 22px;
}

.readText
{
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}


/* Buttons */

.button
{
	position:fixed; bottom:100px; right:5%;  
	background-color:rgb(250, 250, 250);
	border-radius:90px;
	border: 1px solid #000000;
	box-shadow:6px 6px 0px rgb(0, 0, 0);
}

.button:hover 
{
	background-color:rgb(250, 250, 250);
	border-radius:90px;
	box-shadow:8px 8px 0px rgb(0, 0, 0);
}

.contactButton
{
	background-color:rgba(231, 231, 231, 0.507);
	border: 2px solid #000000;
	border-radius:90px;
	float: right;
}

.contactButton:nth-of-type(2) 
{
	margin: 0 50px 0 50px;
}

.centeredContainer
{
	display:flex;
	flex-direction: column;
	align-items: center;
}

.squareButton{
	height: 55px;
	min-width: 135px;
	padding-left: 16px;
	padding-right: 16px;
	margin-top: 32px;
	margin-bottom: 64px;
	font-family:'Open Sans', sans-serif;
	font-size: 1.1em;
	text-decoration: rgb(53, 53, 53);
	background-color: rgb(255, 255, 255);
	border: 2px solid #000000;
	border-radius:5px;
	box-shadow:6px 8px 0px rgb(0, 0, 0);
	cursor:pointer;
}

.secondarySquareButton{
	height: 55px;
	min-width: 135px;
	padding-left: 16px;
	padding-right: 16px;
	margin-top: 44px;
	margin-bottom: 64px;
	font-family:'Open Sans', sans-serif;
	font-size: 1.1em;
	background-color: rgb(255, 255, 255);
	border: 2px dashed #000000;
	border-radius:5px;
	cursor:pointer;
}

.primaryCardButton{
	float: right;
	height: 44px;
	padding-left: 16px;
	padding-right: 16px;
	margin: 2px 24px 24px 0px;
	font-family:'Open Sans', sans-serif;
	font-size: 1.1em;
	text-decoration: rgb(53, 53, 53);
	background-color: rgb(255, 255, 255);
	border: 2px solid #000000;
	border-radius:5px;
	cursor:pointer;
}

.secondaryCardButton{
	float: right;
	height: 44px;
	min-width: 135px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 24px;
	margin-right: 24px;
	font-family:'Open Sans', sans-serif;
	font-size: 1.1em;
	text-decoration: underline;
	background-color: rgb(255, 255, 255);
	border: none;
	cursor:pointer;
}

/* Other stuff */

.fadeIn 
{
	animation-name: fadeIn;
	animation-duration: 3s;
}

.section
{
	display: flex; 
	flex-direction: column;
	align-items: center;
}

.line 
{
	width:175px; opacity:0.5
}

#prompt
{
	margin: 50px 0px 100px;
	opacity: 0;
	animation-name: fadeIn;
	animation-fill-mode: forwards;
	animation-duration: 3s;
	animation-delay: 1s;
}

.responsive{
	max-width: 80%;
	height: auto;
	margin-top: 10px; margin-bottom: 10px;
	box-shadow:0px 5px 12px grey;
  }

.cover{
	margin: 24px 0px 24px;
	max-height: 400px;
	max-width: 100%;
}  

.hero{
	max-width: 100%;
}

@media (min-width: 600px){
	.hero{
		max-width: 50%;
	}

 }

.liImage 
{
	width: 22px;
    height: 22px;
    padding: 15px;
}

.liImage:hover
{
	width: 23px;
    height: 23px;
    padding: 16px;
}

.contactImage
{
	width: 28px;
    height: 28px;
    padding: 15px;
}

.downArrowImage
{
	margin-top: 24px;
	margin-bottom: 24px;
	width: 50px;
	animation-name: bounce;
	animation-delay: 1s;
	animation-duration: 1s;
}