/* Basic Elements */

body
{
	text-align: center;
	font-family:'Open Sans', sans-serif;
}

h1 
{	
	font-weight: normal;
	font-family:'Crete Round', serif;
}

h2
{
	font-weight: normal;
	font-size: xx-large;
	font-family:'Crete Round', serif;
	margin: 100px 0px 30px;
	padding-top: 100px;
}

p
{
	width: 90%; 
	max-width: 500px;
	font-family:'Open Sans', sans-serif;
}

/* Particulars */

.card, #rights
{
	margin: 50px 0px 100px;
	display: flex; 
	flex-direction: column;
	align-items: center;
}

.cardAnimate 
{
	animation-name: fadeIn;
	animation-duration: 3s;
}

.title
{
	display: flex; 
	flex-direction: column;
	align-items: center;
}

.line 
{
	width:175px; opacity:0.5
}

#prompt
{
	margin: 50px 0px 100px;
	opacity: 0;
	animation-name: fadeIn;
	animation-fill-mode: forwards;
	animation-duration: 3s;
	animation-delay: 1s;
}

#rights
{
	margin:200px 0px 60px;
}

.button
{
	position:fixed; bottom:100px; right:5%;  
	background-color:rgb(250, 250, 250); /* opacity:0.5; */ 
	border-radius:90px;
	box-shadow:5px 10px 20px grey;
}

.button:hover 
{
	background-color:rgb(250, 250, 250); /* opacity:0.5; */ 
	border-radius:90px;
	box-shadow:8px 12px 25px grey;
}

.contactButton
{
	background-color:rgba(231, 231, 231, 0.507); /* opacity:0.5; */ 
	border-radius:90px;
	float: right;
}

.contactButton:nth-of-type(2) 
{
	margin: 0 50px 0 50px;
}

.contactButtonContainer
{
	display:flex;
	flex-direction: column;
	align-items: center;
}

.squareButton{
	height: 55px;
	width: 135px;
	font-family:'Open Sans', sans-serif;
	font-size: 1em;
	text-decoration: rgb(53, 53, 53);
	background-color: rgb(255, 255, 255);
	border: 3px solid #3f3f3f;
	border-radius:5px;
	cursor:pointer;
}

.profileImage
{
	width: 90vw;
	max-width: 400px;
	margin: 115px 0px 0px;
}

.responsive{
	max-width: 80%;
	height: auto;
	margin-top: 10px; margin-bottom: 10px;
	box-shadow:0px 5px 12px grey;
  }

.cover{
	margin-top: 15px;
	max-height: 500px;
	max-width: 100%;
}  

.hero{
	max-width: 100%;
}

.liImage 
{
	width: 22px;
    height: 22px;
    padding: 15px;
}

.liImage:hover
{
	width: 23px;
    height: 23px;
    padding: 16px;
}

.contactImage
{
	width: 28px;
    height: 28px;
    padding: 15px;
}

.downArrowImage
{
	margin-top: 100px;
	width: 50px;
}

 @media (min-width: 600px){
	.hero{
		max-width: 50%;
	}
 }
